{% extends "base.html" %} {% block title %}REMEMBER THIS{% endblock %} {% block
content %}
<h1 align="center">Private Key</h1>
<h3 align="center">
  Remember this key. You will need it to decrypt your data.
</h3>
<h3 align="center">Do not share this key with anyone.</h3>
<h3 align="center">If you lose this key, you will lose access to your data.</h3>
<h3 align="center">There is no way to recover your data without this key.</h3>
<h3 align="center">Store this key in a safe place.</h3>
<h2 align="center">{{private_key}}</h2>
<a align="center" href="/download_key">Click me.</a>
<form align="center" action="/" method="POST">
  <input type="submit" />
</form>
{% endblock %}
