{% extends "base.html" %} {% block title %}Profile{% endblock %} {% block
content %}

<h1 align="center">Profile of {{name}}</h1>
<div class="center-div-content">
  {% if user.is_authenticated %} {% if owned == true %}
  <div class="form">
    <form
      align="center"
      action="/profile_{{ user.email }}"
      method="POST"
      enctype="multipart/form-data"
    >
      <div class="center-div-content">
        <label for="file">Upload NFT</label>
        <div class="custom-file-upload">
          <img
            src="{{ url_for('static',filename='upload-white.svg') }}"
            width="100"
          />
          <input type="file" class="form-control" id="file" name="file" />
        </div>
      </div>
      <input type="submit" class="btn btn-primary" />
    </form>
  </div>
  {% endif %} {% endif %}

  <div class="list-group list-group-flush center-div-content" id="ENOFTs">
    {% for img_path in images %}
    <div class="list-group-item center-div-content">
      <a
        href="/export_{{ img_path }}"
        class="btn btn-primary center-div-content"
      >
        <img src="uploads/{{ img_path }}" alt="image" style="width: 100%" />
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
