{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
content %}
<form method="POST">
  <h3 align="center">Sign Up</h3>
  <div class="form-group">
    <label for="email">Email Address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Enter email"
    />
  </div>
  <div class="form-group">
    <label for="firstName">Name</label>
    <input
      type="text"
      class="form-control"
      id="name"
      name="name"
      placeholder="Enter name"
    />
  </div>
  <div class="form-group">
    <label for="never_full">Cheap Image Hosting</label>
    <input
      type="checkbox"
      class="form-control"
      id="never_full"
      name="never_full"
    />
  </div>
  <div class="form-group">
    <label for="vendor_lock">Vendor Lockin</label>
    <input
      type="checkbox"
      class="form-control"
      id="vendor_lock"
      name="vendor_lock"
    />
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
